html{-webkit-text-size-adjust:none; -webkit-tap-highlight-color: transparent;overflow-x: hidden; height: 100%; font-size: 312.5%;background-color:#fff; font-family: Helvetica;}
body{color:#333;font-size:.28em;line-height:1.5;font-family:"Microsoft YaHei";}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
img {vertical-align:middle;border:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal}
img{border:none}
input,img{vertical-align:middle}
textarea:focus{outline:0}
input,textarea,button{ outline: 0; border: none;}
a{color:#333;text-decoration:none;outline:0}
a:active,a:hover,a.current{outline:0}

input, button, select, textarea {line-height:1;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent:0;text-shadow: none; vertical-align:middle}
button, input, optgroup, select, textarea {color:inherit;margin:0;-webkit-writing-mode: horizontal-tb;}
button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance:button;cursor:pointer}

article, aside, footer, header, hgroup, nav, section {display: block;}

@media screen and (min-width:350px){
	html{font-size:342%;}
}
@media screen and (min-width:360px){
	html{font-size:351.5625%;}
}
@media screen and (min-width:375px){
	html{font-size:366.2%;}
}
@media screen and (min-width:384px){
	html{font-size:375%;}
}
@media screen and (min-width:390px){
	html{font-size:380.859%;}
}
@media screen and (min-width:410px){
	html{font-size:400%;}
}
@media screen and (min-width:432px){ /* 魅族3 */
	html{font-size:421.875%;}
}
@media screen and (min-width:480px){
	html{font-size:469%;}
}
@media screen and (min-width:540px){
	html{font-size:527.34%;}
}
@media screen and (min-width:640px){
	html{font-size: 625%;}
}