/*
Version: 3.4.2 Timestamp: Mon Aug 12 15:04:12 PDT 2013
*/
body{}
em,i{font-style: normal;}
.user-serarch{height:30px;margin:0 0 10px;}
.user-serarch input{margin-right:10px;}
.user-serarch .btn{position: relative;top:-2px; padding: 1px 9px;}
.userlist-header{height:40px; line-height:36px;margin:0 0 16px;padding-bottom: 4px;border-bottom: 1px solid #CCC;}
.userlist-header span.name{float: left;font-size:14px;color:#478fca; margin-right:20px;}
.userlist-header span.name em{color:#666;margin-left:10px;}
.userlist-header .btn{position: relative;top:-3px; padding: 2px 9px;margin-right:10px;}

.addgroup .col-xs-7{padding-left: 0;}
.addgroup .col-xs-7 .widget-main{padding:20px 12px 10px;}
.addgroup .col-xs-5{padding: 0;}
.crm-tipselect span.btn{display: inline-block; width:29.9%;border:none; margin:5px 5px;font-size: 12px;background:#8b9aa3 !important;padding: 0;line-height: 30px;}
.crm-tipselect span.btn.cur{background:#d15b47 !important;}
.crm-tipselect span.btn.cur:hover{background:#d15b47 !important;}
.crm-tipselect span.btn:hover{background:#4f99c6 !important;}
/*标签组*/
.tab-group{position: relative; margin-bottom:15px;/* padding-bottom:10px;border-bottom: 1px solid #e5e5e5; */}
.widget-main .tab-group:last-child{border-bottom: none;}
.tab-group .single-group{position: relative; min-height:32px;line-height: 32px;margin-bottom:5px;padding-left:65px;clear: both;}
.tab-group .single-group span.relation{display: block;position: absolute;width:58px;height:32px;left:0px;top:0;}
.tab-group .single-group label{float: left;margin:0 5px 0 0;}
.tab-group .single-group select{float: left;margin-right:5px;padding-right: 0;}
.tab-group .single-group  a.delete{float: left;width:30px;height:30px; /*margin-left:5px;*/}
.tab-group .single-group  a.delete i{margin-left: 5px;}
.tab-group .single-group  a.delete:hover i{text-decoration: none;}
.tab-group .single-group .w0{width:50px;}
.tab-group .single-group .w1{width:90px;}
.tab-group .single-group .w2{width:102px;}
.tab-group .single-group .w3{width:50%;}
.tab-group .single-group .radio1{float: left;margin:0;}
.tab-group .single-group .radio1 label{float: left;margin-right:20px;position: relative;top:-2px;}
.tab-group .single-group .radio1 .lbl{position: relative;left:-18px;}
.tab-group .single-group .radio1 .lbl i{margin-left:5px;position: relative;top:2px;}
.tab-group .single-group .input-group{float: left; position: relative; width:120px;top:-2px;margin-right:5px;}
.tab-group .single-group .input-group input{height:32px;position: relative;z-index: 2;background: none;font-size:14px;}
.tab-group .single-group .input-group i{display: block;position: absolute;right:10px;top:10px;z-index: 1;}
.tab-group .single-group input{height:32px;margin-right:5px;}
.tab-group .single-group .textg{float:left;}
.tab-group .single-group .textg input{float:left;}
.tab-group .single-group .textg i{float: left;margin-right:5px;}

.tab-group .single-group .fl{float: left;}
.ui-datepicker td span, .ui-datepicker td a{padding:0;text-align: center;}
.addgroup-result{height:40px;margin-top:10px;}
.addgroup-result span.nr{float: right;}
.addgroup-result span.nr a{font-size: 14px;}
.addgroup-result span.nr em{font-size: 14px;margin-right:10px;}
.addgroup-result span.nr em i{margin:0 2px;font-weight: bold;}
.savegroup-popnr{padding:30px 12px;font-size: 14px;}
.savegroup-popnr span.txt{float: left;line-height:32px;}
.savegroup-popnr input{float: left;width:443px;}

/*国家选择浮层*/
.countryselect-btn{float: left;}
.countryselect{float: left;height:32px; margin-right:15px;position: relative;}
.countryselect span.btn{background-color: #6fb3e0!important; border-color: #6fb3e0;font-size: 14px;}
.countryselect span.btn.cur{background-color: #4f99c6!important; border-color: #6fb3e0;}
.btn-info:hover, .open .btn-info.dropdown-toggle {background-color: #6fb3e0!important;border-color: #6fb3e0;}
.countryselect .country-box{position: absolute;top: 40px;left: 0;z-index: 1000;display: none;width:775px;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);box-shadow: 0 6px 12px rgba(0,0,0,0.175);background-clip: padding-box;}
.countryselect .country-boxlist{ max-height:300px;overflow-y:auto; padding: 5px 0;margin: 2px 0 0;font-size: 14px;list-style: none;width: 100%;}
.countryselect .radioBox{ height: 32px; line-height: 32px;padding: 5px 16px 0;}
.countryselect .radioBox input{ float: left;}
.countryselect .country-boxlist li{float: left;width:252px;margin:0 0 0;height: 28px;line-height:28px; overflow: hidden;padding-left:15px;}
.countryselect .country-boxlist li input{/*top:0;*/}
.countryselect .country-boxlist li input[type=checkbox].ace+.lbl::before{margin-right:5px;position: relative;/*top:-1px;*/}
.countryselect .country-boxlist li:first-child{}
.countryselect .country-boxlist li span.lbl{height:20px;}
.pro-type{display: inline-block;}
.tab-group .single-group  .delete.pro-type-del{float:none;display: inline-block;position: relative;top:-8px;}
.countryselect .country-box .country-btn{display: block;height:40px; text-align: center; background: #eff3f8;border-top: 1px solid #e4e9ee;margin-top:5px;}
.countryselect .country-box .country-btn a{display: inline-block;margin:0 10px;width:100px;height:32px;margin-top:4px; line-height:32px;color:#fff;font-size: 14px;text-decoration: none;}
.countryselect .country-box .country-btn a.qr{background:#428bca;}
.countryselect .country-box .country-btn a.qx{background:#abbac3;}

.controlBox[tagtype="13001"] .operator{display: none;}
.controlBox[tagtype="13002"] .operator{display: none;}
.controlBox[tagtype="13009"] .operator{display: none;}

.cityselectBox{float: left;}
.cityselectBox .operator{display: none;}
.cityselectBox>.controlBox>label{display: none;}
.countryselect .country-box .city-btn{display: block;height:40px; text-align: center; background: #eff3f8;border-top: 1px solid #e4e9ee;margin-top:5px;}
.countryselect .country-box .city-btn a{display: inline-block;margin:0 10px;width:100px;height:32px;margin-top:4px; line-height:32px;color:#fff;font-size: 14px;text-decoration: none;}
.countryselect .country-box .city-btn a.qr{background:#428bca;}
.countryselect .country-box .city-btn a.qx{background:#abbac3;}

.countryselect .country-box .branch-btn{display: block;height:40px; text-align: center; background: #eff3f8;border-top: 1px solid #e4e9ee;margin-top:5px;}
.countryselect .country-box .branch-btn a{display: inline-block;margin:0 10px;width:100px;height:32px;margin-top:4px; line-height:32px;color:#fff;font-size: 14px;text-decoration: none;}
.countryselect .country-box .branch-btn a.qr{background:#428bca;}
.countryselect .country-box .branch-btn a.qx{background:#abbac3;}

#business-property .tab-group{clear:left;}
/*// 分组选中*/
#treeview_customer{
    padding: 0px;
    margin:0px;
}
#treeview_customer ul.list-group{
	margin:0px;
}
.tree{
	padding-left:0px;
}
.tree:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -20px;
    bottom: 16px;
    left: 0;
    border: 1px dotted #67b2dd;
    border-width: 0 0 0 0px;
    z-index: 1;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#treeview_customer ul.list-group li span.indent {
    margin-left: 10px;
    margin-right: 0px;
}
/* .tree .tree-selected{
	background:red;
}
indent
.tree .tree-selected {
    background-color: #67b2dd;
    color: #ffffff;
}
.tree .tree-item:hover{
	background-color: #b0ddf7;
    color: #ffffff;
} */


/* .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
} */

#customer-property .controlBox{
    display:block;
	float:left;
    height:auto;
    width:90%;
    clear: both;
} 
#business-property .controlBox{
    display:inline-block;
    float:left;
}
.bootstrap-select.form-control:not([class*="col-"]){
	width:280px;
	/*// height:20px;*/
}
#customer-property .btn:hover, #customer-property .btn-default:hover, #customer-property .open .btn.dropdown-toggle, #customer-property .open .btn-default.dropdown-toggle{
	border-color:#fff;
}
#customer-property .btn,  #customer-property .btn-default, #customer-property .btn:focus, .btn-default:focus{
	background-color: #fff!important;
	border-color: #d5d5d5!important;
}
#customer-property .btn-group>.btn, #customer-property .btn-group+.btn{
	border-width: 1px;
}
#customer-property .btn{
	border: 1px solid #FFF;
	color: #858585!important;
	/*// text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;*/
	padding: 5px 12px;
}
/* #customer-property .btn:hover, #customer-property .btn-default:hover, .open .btn.dropdown-toggle, .open .btn-default.dropdown-toggle{
	background-color: #eee!important;
} */
.open_dialog {
    position: fixed;
    top: -50px;
    left: 50%;
    height: 50px;
    margin-left: -240px;
    background: #ffca28;
    font-size: 16px;
    line-height: 50px;
    width: 480px;
    text-align: center;
    color: #fff;
    z-index: 9999;
    transition: all 0.5s;
    border-radius: 0px 0px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
}
.show_tips {
	top:0;
}
.show_tips .zmdi {
	font-size: 20px;
}

.operating {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.b-form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px!important;
    font-size: 14px;
    line-height: 1.42857;
    color: #3D4051;
    background-color: #fff;
    background-image: none;
    border: 1px solid #CBD5DD;
    border-radius: 2px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.b-form-group {
	position:relative;
	display:inline-block;
    float: left;
    margin-right: 10px;
}
.b-search-btn {
	width: 80px;
    height: 37px;
    line-height: 37px;
    border: none!important;
    border-radius: 4px!important;
}
.b-search-box {
	overflow:hidden;
}
.b-clear-search {
    margin-left: 10px;
    text-decoration: none;
}
.page-content {
	background: #f3f3f3!important;
}
.b-panel {
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border-color: #e2edeb;
    padding: 10px;
}
.page-content {
	padding:8px 15px 24px!important;
}
.pager {margin:0!important;}

.md-dialog-container {
    background-color: rgba(33,33,33,0.3);
}
.md-dialog-container {
    z-index: 1041;
}
.md-dialog-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    overflow: hidden;
}
md-dialog.md-default-theme, md-dialog {
    border-radius: 4px;
    background-color: rgb(255,255,255);
}
md-dialog.md-transition-in {
    opacity: 1;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
md-dialog {
    opacity: 0;
    min-width: 240px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
md-dialog .md-dialog-content {
    padding: 24px;
}
md-dialog md-dialog-content {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}
md-dialog md-dialog-content:not([layout=row])>:first-child:not(.md-subheader) {
    margin-top: 0;
}
md-dialog md-dialog-content .md-dialog-content-body {
    width: 100%;
}
md-progress-circular {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    padding-top: 0!important;
    margin-bottom: 0!important;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
md-progress-circular .md-spinner-wrapper.md-mode-indeterminate {
    -webkit-animation: outer-rotate 2.91667s linear infinite;
    animation: outer-rotate 2.91667s linear infinite;
}

md-progress-circular .md-spinner-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}
md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner {
    -webkit-animation: sporadic-rotate 5.25s cubic-bezier(.35,0,.25,1) infinite;
    animation: sporadic-rotate 5.25s cubic-bezier(.35,0,.25,1) infinite;
}
md-progress-circular .md-spinner-wrapper .md-inner {
    width: 100px;
    height: 100px;
    position: relative;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-gap {
    position: absolute;
    left: 49px;
    right: 49px;
    top: 0;
    bottom: 0;
    border-top-width: 10px;
    border-top-style: solid;
    box-sizing: border-box;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-left {
    left: 0;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-left, md-progress-circular .md-spinner-wrapper .md-inner .md-right {
    position: absolute;
    top: 0;
    height: 100px;
    width: 50px;
    overflow: hidden;
}
md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-left .md-half-circle {
    -webkit-animation-name: left-wobble;
    animation-name: left-wobble;
}

md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-right .md-half-circle {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.3125s;
    animation-duration: 1.3125s;
    -webkit-animation-timing-function: cubic-bezier(.35,0,.25,1);
    animation-timing-function: cubic-bezier(.35,0,.25,1);
}
md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle {
    left: 0;
    border-right-color: transparent;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-width: 10px;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 50%;
}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-top-color: #7744cc;
}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {
    border-left-color: #7744cc;
}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-top-color: #7744cc;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-right {
    right: 0;
}

md-progress-circular .md-spinner-wrapper .md-inner .md-left, md-progress-circular .md-spinner-wrapper .md-inner .md-right {
    position: absolute;
    top: 0;
    height: 100px;
    width: 50px;
    overflow: hidden;
}
md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-right .md-half-circle {
    -webkit-animation-name: right-wobble;
    animation-name: right-wobble;
}
md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper.md-mode-indeterminate .md-inner .md-right .md-half-circle {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.3125s;
    animation-duration: 1.3125s;
    -webkit-animation-timing-function: cubic-bezier(.35,0,.25,1);
    animation-timing-function: cubic-bezier(.35,0,.25,1);
}
md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
    right: 0;
    border-left-color: transparent;
}
md-progress-circular .md-spinner-wrapper .md-inner .md-left .md-half-circle, md-progress-circular .md-spinner-wrapper .md-inner .md-right .md-half-circle {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-width: 10px;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 50%;
}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-top-color: #7744cc;
}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-top-color: #7744cc;
}
md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {
    border-right-color: #7744cc;
}
@media (max-width: 599px) {
    md-menu-content {
        min-width:112px
    }

    md-menu-content[width="3"] {
        min-width: 168px
    }

    md-menu-content[width="4"] {
        min-width: 224px
    }

    md-menu-content[width="5"] {
        min-width: 280px
    }

    md-menu-content[width="6"] {
        min-width: 336px
    }

    md-menu-content[width="7"] {
        min-width: 392px
    }
}

@media (min-width: 600px) {
    md-menu-content {
        min-width:96px
    }

    md-menu-content[width="3"] {
        min-width: 192px
    }

    md-menu-content[width="4"] {
        min-width: 256px
    }

    md-menu-content[width="5"] {
        min-width: 320px
    }

    md-menu-content[width="6"] {
        min-width: 384px
    }

    md-menu-content[width="7"] {
        min-width: 448px
    }
}
@-webkit-keyframes outer-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes outer-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes left-wobble {
    0%,100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@keyframes left-wobble {
    0%,100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-webkit-keyframes right-wobble {
    0%,100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}

@keyframes right-wobble {
    0%,100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}

@-webkit-keyframes sporadic-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes sporadic-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}
.md-dialog-container h4 { text-align: center; font-size: 14px;}
input[type=radio].ace+.lbl::before {  line-height: 17px!important;}
.input-group-addon { position: absolute; right: 21px; top: 7px; font-size: 18px!important; color: #777; padding: 0;font-weight: normal; line-height: normal;
    background-color: #fff!important; border: none!important;  border-radius: 0!important;}
.main-container:after {  background-color: #f3f3f3;}
@media screen and (min-width:1440px) {
    .bootstrap-select {
        width: 220px !important;
    }
    .bootstrap-select button{
        width: 220px !important;
    }
}
@media screen and (max-width: 1440px){
    .bootstrap-select {
        width:180px!important;
    }
    .bootstrap-select button {
        width:180px!important;
    }
}
@media screen and (max-width: 1330px){
    .bootstrap-select {
        width:150px!important;
    }
    .bootstrap-select button {
        width:150px!important;
    }
}
@media screen and (max-width: 1250px){
    .bootstrap-select {
        width:120px!important;
    }
    .bootstrap-select button {
        width:120px!important;
    }
}
@media screen and (max-width: 980px){
    .bootstrap-select {
        width:100px!important;
    }
    .bootstrap-select button {
        width:100px!important;
    }
}
